:root {
    --blanco: #FCFCFC;
    --primario: #1A3139;
    --secundario: #FFBD59;
    --terciario: #429D46;
    --cuaternario: #CB6CE6;
    --white-hover: rgb(212, 212, 212);
}

body {
    color: var(--blanco);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primario);
}

section {
    padding: 0px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.w500 {
    width: 500px;
}

/* HEADER */

.home {
    /* max-height: 80vh; */
    position: relative;
    margin: 0;
    padding-bottom: 0.5rem;
}


.nav-bar {
    background-color: var(--primario);
    display: block;
    /* padding-bottom: 1.3rem; */
    text-align: center;
    position: relative
    /* position: sticky */
}

.nav-brand {
    color: var(--blanco);
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.nav-brand img {
    width: 8%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 0.4rem white solid;
    margin-left: -1.7rem;
}

.nav-brand:hover {
    text-decoration: none;
    color: var(--blanco)
}

.navbar-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.nav-item {
    margin: 0 1rem;
    align-self: flex-end;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
}



.nav-item:hover {
    color: var(--white-hover)
}


/* HERO */

.hero-text {
    margin-top: 0;
    font-size: 3.5rem;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: var(--blanco);
    font-weight: 700;
}

#principal{
    background-color: var(--primario);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
    /* padding-top: 1.38rem; */
}

.hero-text strong {
    color: var(--secundario);
}


.hero-img {
    width: 400px;
    margin-top: 2rem;
    border-radius: 100%;
}

/* PORTFOLIO */

.projects-list {
    background-color: var(--secundario);
    width: 320px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px 0px;
    margin-top: 1rem;
}

.projects-list ul {
    color: var(--primario);
}

.projects-list a {
    color: var(--blanco);
    text-decoration: none;
}

#proyectos {
    background-color: var(--primario);
    padding-top: 1rem;
}

.projects-sectionTitle {
    color: var(--secundario);
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--secundario);
    color: var(--secundario);
    margin: 20px;
    border-radius: 10px;
    padding: 2rem 20px;
}

.project-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primario);
}

.project-details,
.project-description {
    color: var(--blanco);
    margin: 0.2rem 0;
}

.project-date {
    margin: 0.2rem 0;
    color: var(--primario);
}

.project-link {
    text-decoration: none;
    color: var(--blanco);
}

.project-imageWrapper {
    margin: auto;
    width: 500px;
}

.project-imageWrapper img {
    width: inherit;
    border-radius: 5%;
}
.description-toggler {
    color: white;
    font-weight: bold;
}


/* EXPERIENCES */

.experiences-section {
    background-color: var(--terciario);
}

.experiences-sectionTitle {
    color: var(--blanco);
    font-size: 3rem;
    font-weight: bold;
}

.experience {
    background-color: var(--primario);
    color: var(--blanco);
    margin: 20px;
    border-radius: 10px;
    width: 350px;
    padding: 15px 0;
}

.experience-imageWrapper {
    margin: 0 25px;
}

.experience-image {
    border-radius: 10px;
}

.experience-info {
    padding: 0 20px;
}

/* FOOTER */
footer {
    background-color: #1A3139;
    position: absolute;
}

footer ul li a {
    color: white;
    font-weight: 700;
}

footer ul li a:hover {
    color: var(--white-hover);
    text-decoration: none;
}

.datos-contacto {
    padding-left: 0;
}
.redes-sociales {
    margin: 2rem 5rem 5rem 5rem;
    list-style: none;
    padding-left: 0;
}

.red-social {
    height: 80px;
    width: 80px;
    font-weight: 600;
}

.red-social:hover {
    filter: opacity(80%) hue-rotate(45deg);
}

.red-social a {
    color: var(--blanco);
}

.datos-contacto {
    list-style: none;
}

.projects-list h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
    color: #1A3139;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.general-enter-active, .general-leave-active {
    transition: height 0.5s;
}
.general-enter, .general-leave-to {
    height: 31px;
}

/* MOBILE */

@media (max-width: 600px) and (min-width: 120px) {
    .navbar-items {
        margin: auto;
        margin-left: 1.2rem;
        padding-bottom: 0;
    }

    .nav-brand img {
        width: 20%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 50%;
        border: 0.2rem white solid;
    }
    .hero-img {
        text-align: center;
        width: 230px;
        height: 230px;
        margin: 1rem auto;
    }
    .hero-text {
        font-size: 1rem;
        text-align: center;
        margin: 1rem auto;
    }

    /* Portfolio */

    .projects-list {
        margin: 20px;
        width: auto;
    }
    .projects-list ul {
        margin-right: 20px;
        padding-right: 13px;
    }
    .project-imageWrapper {
        margin: auto;
        width: 250px;
    }    
    .project-imageWrapper img {
        width: inherit;
        border-radius: 5%;
    }

    .project-title {
        font-size: 1.2rem;
    }
    .project-details {
        font-size: .8rem;
    }
  }